In [1]:
pip install Faker

Requirement already satisfied: Faker in c:\users\segur\anaconda3\lib\site-packages (37.1.0)
Requirement already satisfied: tzdata in c:\users\segur\anaconda3\lib\site-packages (from Faker) (2023.3)
Note: you may need to restart the kernel to use updated packages.

In [188]:
import sqlite3
from faker import Faker
import random
import pandas as pd

In [189]:
fake = Faker()
faker = Faker('es_ES')
data = []

In [190]:
cnx = sqlite3.connect("bdd_testing.db") #CONEXION BDD
cursor = cnx.cursor()

In [191]:
for i in range(10):
    id_operacion = random.randint(1000, 2500)
    id_proveedor = random.randint(101, 125)
    id_pieza = random.randint(1, 35)
    id_factura = random.randint(5000, 5050)
    fecha = fake.date_this_decade().isoformat()
    data.append((id_operacion, id_proveedor, id_pieza, fecha, id_factura))

In [192]:
df_operaciones = pd.DataFrame(data, columns=['id_operacion', 'id_proveedor', 'id_pieza', 'fecha', 'id_factura'])
df_operaciones

   id_operacion  id_proveedor  id_pieza       fecha  id_factura
0          2216           114        11  2021-12-30        5037
1          1526           121        22  2024-07-23        5000
2          1295           110        17  2024-02-25        5001
3          1952           120        28  2025-04-09        5049
4          1229           124        33  2022-04-01        5004
5          2289           116        11  2024-07-30        5036
6          1201           110         7  2021-12-17        5021
7          1184           109         7  2025-04-09        5012
8          2111           109        31  2024-02-27        5039
9          1230           109         6  2024-06-09        5039

In [193]:
    cursor.execute("DROP TABLE IF EXISTS operaciones")

 
    cursor.execute("""
    CREATE TABLE operaciones (
        id_operacion INTEGER PRIMARY KEY,
        id_proveedor INTEGER,
        id_pieza INTEGER,
        fecha TEXT,
        id_factura INTEGER
    )
    """)

In [194]:
df_operaciones.to_sql('operaciones', cnx, if_exists='append', index=False)
print("\nDatos cargados correctamente en bdd_new.db.")

Datos cargados correctamente en bdd_new.db.

In [199]:
#PRUEBA DE QUE FUNCIONA 

query = ''' 
SELECT *
FROM operaciones
WHERE id_factura > 5010
'''
pd.read_sql(query, cnx)

   id_operacion  id_proveedor  id_pieza       fecha  id_factura
0          1184           109         7  2025-04-09        5012
1          1201           110         7  2021-12-17        5021
2          1230           109         6  2024-06-09        5039
3          1952           120        28  2025-04-09        5049
4          2111           109        31  2024-02-27        5039
5          2216           114        11  2021-12-30        5037
6          2289           116        11  2024-07-30        5036

In [187]:
cnx.close() #CIERRE CONEXTION

In [ ]:
with sqlite3.connect("bdd_testing.db") as cnx: #CHECK BDD
    cursor = cnx.cursor()