In [12]:
pip install Faker

Requirement already satisfied: Faker in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (37.1.0)
Requirement already satisfied: tzdata in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from Faker) (2025.2)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import sqlite3
from faker import Faker
import random
import pandas as pd

In [14]:
cnx = sqlite3.connect("base_datos_proveedores.db")

In [15]:
cursor_prov = cnx.cursor()

In [74]:
cursor_prov.execute("DELETE FROM pieza")

In [16]:
# Crear tabla "pieza"
query = '''
CREATE TABLE IF NOT EXISTS pieza (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT,
    codigo_pieza TEXT,
    color TEXT,
    precio REAL,
    categoria TEXT
)
'''
cursor_prov.execute(query)

In [17]:
faker = Faker('es_ES')

In [18]:
# Lista de nombres de piezas de coche
nombres_piezas = [
    "Filtro de aceite", "Batería", "Bujía", "Radiador", "Alternador", "Amortiguador",
    "Disco de freno", "Pastilla de freno", "Parachoques", "Espejo retrovisor",
    "Faro delantero", "Faro trasero", "Escape", "Embrague", "Caja de cambios",
    "Motor", "Correa de distribución", "Inyector", "Turbocompresor", "Compresor de aire",
    "Sensor de oxígeno", "Ventilador", "Depósito de combustible", "Volante", "Airbag",
    "Palanca de cambios", "Pedal de freno", "Carter", "Eje", "Llanta"
]

In [19]:
categorias_piezas_coche = ["Motor","Suspensión","Frenos","Transmisión","Escape","Refrigeración","Electrónica","Iluminación","Carrocería","Neumáticos"]
colores = ['Rojo', 'Azul', 'Verde', 'Amarillo', 'Negro', 'Blanco', 'Gris', 'Naranja','Marrón', 'Blanco', 'Plateado' ]

In [20]:
piezas_info_list = []

for _ in range(30):
    nombre = random.choice(nombres_piezas).capitalize()
    codigo_pieza = faker.bothify(text='??-#####')
    color = random.choice(colores)
    precio = round(random.uniform(5.0, 1000.0), 2)
    categoria = random.choice(categorias_piezas_coche)

    piezas_info_list.append((nombre, codigo_pieza,color,precio, categoria ))

    cursor_prov.execute('''
    INSERT INTO pieza (nombre, codigo_pieza, color, precio, categoria)
    VALUES (?, ?, ?, ?, ?)
    ''', (nombre, codigo_pieza, color, precio, categoria))

    
print(f"codigo_pieza: {codigo_pieza}, nombre: {nombre}")

codigo_pieza: iP-30741, nombre: Faro trasero

In [21]:
piezas_info_list

[('Sensor de oxígeno', 'SY-73906', 'Gris', 12.29, 'Suspensión'),
 ('Parachoques', 'Rn-13218', 'Amarillo', 594.22, 'Suspensión'),
 ('Filtro de aceite', 'FY-92743', 'Blanco', 73.69, 'Escape'),
 ('Filtro de aceite', 'In-80744', 'Naranja', 775.84, 'Carrocería'),
 ('Eje', 'rO-20766', 'Plateado', 279.22, 'Carrocería'),
 ('Escape', 'ce-95425', 'Verde', 421.61, 'Transmisión'),
 ('Inyector', 'JS-96500', 'Plateado', 860.97, 'Suspensión'),
 ('Caja de cambios', 'sr-86564', 'Blanco', 308.53, 'Transmisión'),
 ('Bujía', 'Fq-51199', 'Azul', 987.66, 'Suspensión'),
 ('Faro trasero', 'CF-79536', 'Verde', 701.2, 'Suspensión'),
 ('Correa de distribución', 'Jw-15638', 'Amarillo', 618.71, 'Transmisión'),
 ('Alternador', 'KU-16440', 'Blanco', 454.12, 'Frenos'),
 ('Embrague', 'nK-16677', 'Verde', 17.84, 'Iluminación'),
 ('Pedal de freno', 'hG-57821', 'Blanco', 580.12, 'Transmisión'),
 ('Bujía', 'uL-41150', 'Amarillo', 432.47, 'Transmisión'),
 ('Faro trasero', 'lB-76015', 'Gris', 290.32, 'Carrocería'),
 ('Airbag', 'RA-32954', 'Rojo', 828.72, 'Frenos'),
 ('Caja de cambios', 'PN-11986', 'Blanco', 271.24, 'Suspensión'),
 ('Faro delantero', 'Bk-46475', 'Azul', 310.7, 'Escape'),
 ('Volante', 'ww-39220', 'Blanco', 738.24, 'Escape'),
 ('Faro delantero', 'Yr-38431', 'Gris', 130.86, 'Frenos'),
 ('Depósito de combustible', 'yu-46001', 'Verde', 736.46, 'Refrigeración'),
 ('Faro delantero', 'Xx-06162', 'Plateado', 898.03, 'Frenos'),
 ('Pedal de freno', 'oK-94168', 'Negro', 703.74, 'Suspensión'),
 ('Compresor de aire', 'ba-37114', 'Plateado', 897.94, 'Refrigeración'),
 ('Carter', 'gf-67070', 'Marrón', 422.51, 'Iluminación'),
 ('Espejo retrovisor', 'kT-83213', 'Verde', 761.23, 'Neumáticos'),
 ('Pedal de freno', 'mb-68333', 'Rojo', 785.72, 'Motor'),
 ('Alternador', 'Ph-54815', 'Gris', 895.89, 'Frenos'),
 ('Faro trasero', 'iP-30741', 'Verde', 330.4, 'Transmisión')]

In [22]:
query = ''' 
SELECT nombre
FROM pieza
'''
pd.read_sql(query, cnx)

                     nombre
0         Sensor de oxígeno
1               Parachoques
2          Filtro de aceite
3          Filtro de aceite
4                       Eje
5                    Escape
6                  Inyector
7           Caja de cambios
8                     Bujía
9              Faro trasero
10   Correa de distribución
11               Alternador
12                 Embrague
13           Pedal de freno
14                    Bujía
15             Faro trasero
16                   Airbag
17          Caja de cambios
18           Faro delantero
19                  Volante
20           Faro delantero
21  Depósito de combustible
22           Faro delantero
23           Pedal de freno
24        Compresor de aire
25                   Carter
26        Espejo retrovisor
27           Pedal de freno
28               Alternador
29             Faro trasero

In [23]:
query = ''' 
SELECT *
FROM sqlite_master
WHERE type = "table"
'''
pd.read_sql(query, cnx)

,type,name,tbl_name,rootpage,sql
0,table,proveedores,proveedores,2,CREATE TABLE proveedores (\nid_proveedor INT P...
1,table,piezas,piezas,4,CREATE TABLE piezas (\nid_pieza INT PRIMARY KE...
2,table,categoria_pieza,categoria_pieza,6,CREATE TABLE categoria_pieza (\nid_categoria I...
3,table,operaciones,operaciones,8,CREATE TABLE operaciones (\nid_operacion INT P...
4,table,facturas,facturas,10,CREATE TABLE facturas (\nid_factura INT PRIMAR...
5,table,pieza,pieza,12,CREATE TABLE pieza (\n id INTEGER PRIMARY K...
6,table,sqlite_sequence,sqlite_sequence,13,"CREATE TABLE sqlite_sequence(name,seq)"

In [64]:
cursor_prov.execute("DROP TABLE IF EXISTS piezas")

In [24]:
query = ''' 
SELECT *
FROM sqlite_master
WHERE type = "table"
'''
pd.read_sql(query, cnx)

,type,name,tbl_name,rootpage,sql
0,table,proveedores,proveedores,2,CREATE TABLE proveedores (\nid_proveedor INT P...
1,table,piezas,piezas,4,CREATE TABLE piezas (\nid_pieza INT PRIMARY KE...
2,table,categoria_pieza,categoria_pieza,6,CREATE TABLE categoria_pieza (\nid_categoria I...
3,table,operaciones,operaciones,8,CREATE TABLE operaciones (\nid_operacion INT P...
4,table,facturas,facturas,10,CREATE TABLE facturas (\nid_factura INT PRIMAR...
5,table,pieza,pieza,12,CREATE TABLE pieza (\n id INTEGER PRIMARY K...
6,table,sqlite_sequence,sqlite_sequence,13,"CREATE TABLE sqlite_sequence(name,seq)"

In [25]:
cnx.commit()