In [ ]:
import pandas as pd
import sqlite3

In [ ]:
cnx = sqlite3.connect("sql-murder-mystery.db")

In [ ]:
cursor_prov = cnx.cursor()

In [ ]:
query = ''' 
SELECT *
FROM crime_scene_report
where date = "20180115" and type = "murder" and city = "SQL City"
'''
pd.read_sql(query, cnx)

In [ ]:
cursor_prov.fetchall()

In [ ]:
query = ''' 
SELECT *
FROM sqlite_master
where type = "table"
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM crime_scene_report
where date = "20180115" and type = "murder" and city = "SQL City"
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM person
WHERE address_street_name in ("Northwestern Dr")
ORDER BY address_number DESC   
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM person
WHERE address_street_name = "Franklin Ave" and name like "Annabel%"   
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM interview
WHERE person_id in (14887, 16371) 
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM get_fit_now_member
WHERE id like "48Z%" 
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM get_fit_now_check_in
WHERE membership_id in ("48Z38", "48Z55") and check_in_date = 20180109
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM get_fit_now_check_in
WHERE membership_id in ("48Z38", "48Z55") and check_in_date = 20180115  
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM drivers_license
WHERE plate_number like "H42W%"  
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM person
WHERE license_id = 183779  
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM crime_scene_report
WHERE type = "robbery" and date < 20180115 and description like "%car%"
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM person
WHERE license_id = 183779 
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM interview
WHERE person_id = 78193 
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM facebook_event_checkin
WHERE person_id = 78193 
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
ELECT *
FROM person
WHERE name = "Jeremy Bowers"
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM drivers_license
WHERE id = 423327
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM facebook_event_checkin
WHERE person_id = 67318
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM interview
WHERE person_id = 67318
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT COUNT(person_id), person_id
FROM facebook_event_checkin
WHERE date like "201712%" and event_name = "SQL Symphony Concert"
GROUP BY person_id
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM person
WHERE id = 24556
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM person
WHERE id = 99716
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
SELECT *
FROM drivers_license
WHERE id = 202298
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
INSERT INTO solution VALUES (1, 'Jeremy Bowers');
SELECT value FROM solution;
'''
pd.read_sql(query, cnx)

In [ ]:
query = ''' 
INSERT INTO solution VALUES (1, 'Miranda Priestly');
SELECT value FROM solution;
'''
pd.read_sql(query, cnx)